@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(15, 15, 15);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.header {
  font-size: 2.4em;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  font-family: "Fredoka One", cursive;
}

.reload {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.3rem;
  padding: 0.6rem 0.8rem;
  border-radius: 40px;
  white-space: nowrap;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 15, 15);
  border: 4px solid rgb(15, 15, 15);
}

.reload:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(15, 15, 15);
  border: 4px dotted rgb(15, 15, 15);
}

.reload:active {
  transform: scale(0.98);
}

footer {
  position: absolute;
  bottom: 1rem;
  right: 0;
  writing-mode: tb-rl;
  transform: rotate(-0deg);
}

footer > p {
  margin: 0.3rem 0;
  font-weight: 700;
}

a,
a:visited {
  color: black;
}

#heart {
  font-size: 1.6rem;
}
