@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

html, body {
  background-color: #ffffff;
}

body {
  color: rgb(24, 24, 24);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.header {
  font-size: 2.4em;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
  font-family: "Fredoka One", cursive;
  white-space: nowrap;
}

.header span {
  position: relative;
  display: inline-block;
  margin: -0.307rem;
}

.header:hover > span {
  animation: wavy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wavy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}

button {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  margin-top: -1.7rem;
  padding: 0.6rem 0.8rem;
  border-radius: 40px;
  white-space: nowrap;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(24, 24, 24);
  border: 4px solid rgb(24, 24, 24);
  width: 7.3em;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(15, 15, 15);
  border: 4px dotted rgb(15, 15, 15);
}

button:active {
  transform: scale(0.98);
}

#stats-button {
  margin-top: 0.75rem;
}

#stats-panel {
  margin-top: 1em;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 40px;
  padding: 1.5rem;
  border: 4px dotted rgb(15, 15, 15);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.value {
  font-weight: 400;
}

footer {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  transform: scale(0.8);
}

footer:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-4deg); }
  20% { transform: translate(-3px, 0px) rotate(4deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(4deg); }
  50% { transform: translate(-1px, 2px) rotate(-4deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-4deg); }
  80% { transform: translate(-1px, -1px) rotate(4deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-4deg); }
}
