/* Global */
:root {
  --main-color: #191919;
  --secondary-color: #ffffff;
  --new-game-button-color: #ffffff;
  --new-game-button-background: #191919;
  --button-shadow: #d4d4d4;
  --menu-button-filter: grayscale(100%) contrast(180%);
}

.dark-mode {
  --main-color: #e1e1e1;
  --secondary-color: #191919;
  --new-game-button-color: #e1e1e1;
  --new-game-button-background: #191919;
  --button-shadow: #8f8f8f;
  --menu-button-filter: grayscale(100%) contrast(40%) brightness(160%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}

html,
body {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}

body {
  color: var(--main-color);
  font-family: sans-serif;
}

#error-page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

a,
a:focus,
a:active,
a:link {
  text-decoration: underline;
  color: inherit;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

img {
  -webkit-user-drag: none;
}

#game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: fit-content;
  height: fit-content;
}

/* Header */
.header {
  font-family: 'Fredoka One', sans-serif;
  font-size: 31px;
}

#header {
  color: var(--main-color);
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  white-space: nowrap;
  height: 40px;
}

#header span {
  position: relative;
  display: inline-block;
}

.wavy > span {
  animation: wavy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wavy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-6px);
  }
}

.japanese {
  font-family: 'Mochiy Pop One';
  font-size: 26px;
  height: 40px;
}

/* Board */
#board {
  height: 328px;
}

canvas {
  animation: appear 0.8s;
  pointer-events: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flag-mode {
  cursor: crosshair;
}

/* Elements Container */
#container {
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

button,
.button,
select {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--main-color);
  background: var(--secondary-color);
  height: 3em;
  width: 9.5em;
  position: relative;
  margin: 0.1rem 0.3rem;
  animation: appear 0.8s;
  padding: 0.6rem;
  border: 3px solid var(--main-color);
  transition: box-shadow 0.3s ease-in-out;
}

button:hover,
.button:hover {
  box-shadow: 2px 2px 0px 2px var(--button-shadow);
}

button:active,
.button:active {
  transform: scale(0.98);
}

#new-game-button {
  color: var(--new-game-button-color);
  background-color: var(--new-game-button-background);
}

/* Modals */
.modal {
  margin-top: 0.7rem;
  border-radius: 30px;
  opacity: 0;
  background-color: var(--secondary-color);
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  z-index: -1;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: 0 0 12px var(--main-color);
}

/* Help Modal */
#help-modal {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 1rem;
  padding-bottom: 1.3rem;
  width: 13rem;
  height: 240px;
  top: -337px;
  left: 26px;
}

#help-modal > * {
  margin: 0.35em 0;
}

.help-emoji {
  width: 14px;
  margin-bottom: -2px;
}

#about {
  margin-top: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about p {
  font-weight: 600;
  margin-bottom: -0.05em;
}

#moustache-man {
  margin: 0.6em;
  width: 35px;
}

/* Stats Modal */
#stats-modal {
  top: -305px;
  left: 50px;
  width: 8rem;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 1.2rem;
}

#stats-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#stats-modal > button {
  color: var(--secondary-color);
  background-color: var(--main-color);
  margin-top: 0.75rem;
  margin-bottom: -0.3rem;
  grid-column: span 2;
  text-align: center;
  transform: scale(0.8);
  border: 0;
}

.level {
  grid-column: 1 / 3;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.label {
  text-align: end;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.value {
  font-weight: 400;
  text-align: left;
  margin-left: 0.5rem;
}

/* Emoji Buttons */
#emoji-buttons-container {
  display: flex;
  align-items: center;
}

.emoji-button {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  margin: 0 0.15rem;
  width: 35px;
}

.emoji-button:hover,
.emoji-button-clicked {
  opacity: 0.6;
}

.emoji-button > img {
  height: 35px;
}
