@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* Global */
:root {
  --main-color: rgb(25, 25, 25);
}

* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

html,
body {
  background-color: #ffffff;
}

body {
  color: var(--main-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  place-items: center;
  overflow: hidden;
}

/* Header */
.header {
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  font-family: "Fredoka One", cursive;
  white-space: nowrap;
}

.header span {
  position: relative;
  display: inline-block;
  margin: -0.307rem;
}

.header:hover > span {
  animation: wavy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wavy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-6px);
  }
}

/* Board */
canvas {
  animation: appear 0.8s;
  pointer-events: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Elements Container */
#container {
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

button {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--main-color);
  background: #ffffff;
  border: 2px solid var(--main-color);
  width: 8em;
  position: relative;
  margin: 0 0.3rem;
  animation: appear 0.8s;
  padding: 0.6rem;
  border: 3px solid var(--main-color);
  transition: box-shadow 0.3s ease-in-out;
}

button:hover {
  box-shadow: 2px 2px 0px 2px rgb(212, 212, 212);
}

button:active {
  transform: scale(0.98);
}

/* Stats Panel */
#stats-panel {
  margin-top: 0.7rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  border-radius: 40px;
  padding: 1.1rem;
  opacity: 0;
  background-color: #ffffff;
  transition: opacity 0.4s ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 8rem;
  position: absolute;
  top: -277px;
  left: 29px;
  height: 140px;
  z-index: -1;

  padding: 1rem 2rem 2rem 2rem;
  box-shadow: 0 0 12px var(--main-color);
}

#new-game-button {
  color: #ffffff;
  background-color: var(--main-color);
}

#stats-panel > button {
  color: #ffffff;
  background-color: var(--main-color);
  margin-top: 0.5rem;
  margin-bottom: -0.3rem;
  grid-column: span 2;
  text-align: center;
  transform: scale(0.8);
  margin-top: 0.75rem;
  border: 0;
}

.level {
  grid-column: 1 / 3;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.label {
  text-align: end;
  margin-right: 0.5rem;
}

.value {
  font-weight: 400;
  text-align: left;
  margin-left: 0.5rem;
}

#level-mode-container {
  display: flex;
  align-items: center;
}

.emoji-button {
  font-size: 2rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.emoji-button:hover {
  opacity: 0.7;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  transform: scale(0.8);
}

footer:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-4deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(4deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(4deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-4deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-4deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-4deg);
  }
}
